@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* @apply .light; */
}

.dark {
  --elevation-0: 0 0 0 0 transparent;
  --elevation-2: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
  --elevation-4: 0 4px 10px 0 rgba(0, 0, 0, 0.7);
  --elevation-6: 0 6px 15px 0 rgba(0, 0, 0, 0.7);
  --elevation-8: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
  --elevation-10: 0 12px 25px 0 rgba(0, 0, 0, 0.7);
  --elevation-12: 0 14px 25px 0 rgba(0, 0, 0, 0.7);
  --elevation-14: 0 16px 30px 0 rgba(0, 0, 0, 0.7);
  --elevation-16: 0 16px 35px 0 rgba(0, 0, 0, 0.7);
  --primary-background: #000;
  --primary-color: #fff;
  --secondary-background: #0d0d0f;
  --secondary-color: #ceceda;
  --tertiary-color: #8b8b97;
  --inactive-color: #3e3e45;
  --brand-red-background: #5d0909;
  --brand-red-color: #f58378;
  --brand-orange-background: #51200e;
  --brand-orange-color: #fb9975;
  --brand-yellow-background: #2b1e04;
  --brand-yellow-color: #e8cc6c;
  --brand-green-background: #0f261a;
  --brand-green-color: #87eac4;
  --brand-blue-background: #142a54;
  --brand-blue-color: #74ccfc;
  --brand-purple-background: #371854;
  --brand-purple-color: #d48bed;
  --status-info-background: #142a54;
  --status-info-color: #74ccfc;
  --status-info-border: #74ccfc;
  --status-info-indicator: #2b9cd8;
  --status-success-background: #0f261a;
  --status-success-color: #87eac4;
  --status-success-border: #87eac4;
  --status-success-indicator: #50ab86;
  --status-warning-background: #51200e;
  --status-warning-color: #fb9975;
  --status-warning-border: #fb9975;
  --status-warning-indicator: #d26e4a;
  --status-error-background: #5d0909;
  --status-error-color: #f58378;
  --status-error-border: #f58378;
  --status-error-indicator: #dd635b;
  --action-link-color: #ceceda;
  --action-button-background: #ceceda;
  --action-button-color: #000;
  --action-border: #ceceda;
  --action-hover: #ececf2;
  --action-focus: #b1b1bd;
  --action-inactive: #232328;
  --state-info-link-color: #74ccfc;
  --state-info-button-background: #74ccfc;
  --state-info-border: #74ccfc;
  --state-info-button-color: #000;
  --state-info-hover: #a9e1ff;
  --state-info-focus: #4eb6ee;
  --state-info-inactive: #1a4373;
  --state-success-link-color: #87eac4;
  --state-success-button-background: #87eac4;
  --state-success-border: #87eac4;
  --state-success-button-color: #000;
  --state-success-hover: #b5fbe0;
  --state-success-focus: #65d0a7;
  --state-success-inactive: #1a3f2e;
  --state-warning-link-color: #fb9975;
  --state-warning-button-background: #fb9975;
  --state-warning-border: #fb9975;
  --state-warning-button-color: #000;
  --state-warning-hover: #feb195;
  --state-warning-focus: #eb8864;
  --state-warning-inactive: #742e14;
  --state-error-link-color: #f58378;
  --state-error-button-background: #f58378;
  --state-error-border: #f58378;
  --state-error-button-color: #000;
  --state-error-hover: #fda99f;
  --state-error-focus: #ea7066;
  --state-error-inactive: #a02522;
  --shell-background: #141417;
  --shell-border: #3e3e45;
  --shell-hover: #0d0d0f;
  --shell-on-background: #232328;
  --shell-on-border: #232328;
  --shell-on-hover: #0d0d0f;
}

.light {
  --elevation-0: 0 0 0 0 transparent;
  --elevation-2: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  --elevation-4: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  --elevation-6: 0 6px 15px 0 rgba(0, 0, 0, 0.4);
  --elevation-8: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  --elevation-10: 0 12px 25px 0 rgba(0, 0, 0, 0.4);
  --elevation-12: 0 14px 25px 0 rgba(0, 0, 0, 0.4);
  --elevation-14: 0 16px 30px 0 rgba(0, 0, 0, 0.4);
  --elevation-16: 0 16px 35px 0 rgba(0, 0, 0, 0.4);
  --primary-background: #fff;
  --primary-color: #000;
  --secondary-background: #f6f6f9;
  --secondary-color: #232328;
  --tertiary-color: #62626c;
  --inactive-color: #b1b1bd;
  --brand-red-background: #ffe5e5;
  --brand-red-color: #a02522;
  --brand-orange-background: #feede7;
  --brand-orange-color: #742e14;
  --brand-yellow-background: #fffae5;
  --brand-yellow-color: #43320d;
  --brand-green-background: #e5fff5;
  --brand-green-color: #1a3f2e;
  --brand-blue-background: #e5f6ff;
  --brand-blue-color: #1a4373;
  --brand-purple-background: #fae5ff;
  --brand-purple-color: #4c2667;
  --status-info-background: #e5f6ff;
  --status-info-color: #1a4373;
  --status-info-border: #1a4373;
  --status-info-indicator: #297ab2;
  --status-success-background: #e5fff5;
  --status-success-color: #1a3f2e;
  --status-success-border: #1a3f2e;
  --status-success-indicator: #3a8163;
  --status-warning-background: #feede7;
  --status-warning-color: #742e14;
  --status-warning-border: #742e14;
  --status-warning-indicator: #b6522d;
  --status-error-background: #ffe5e5;
  --status-error-color: #a02522;
  --status-error-border: #a02522;
  --status-error-indicator: #ca4841;
  --action-link-color: #232328;
  --action-button-background: #232328;
  --action-button-color: #fff;
  --action-border: #232328;
  --action-hover: #3e3e45;
  --action-focus: #141417;
  --action-inactive: #ceceda;
  --state-info-link-color: #1a4373;
  --state-info-button-background: #1a4373;
  --state-info-border: #1a4373;
  --state-info-button-color: #fff;
  --state-info-hover: #1f598e;
  --state-info-focus: #1f598e;
  --state-info-inactive: #74ccfc;
  --state-success-link-color: #1a3f2e;
  --state-success-button-background: #1a3f2e;
  --state-success-border: #1a3f2e;
  --state-success-button-color: #fff;
  --state-success-hover: #285b45;
  --state-success-focus: #285b45;
  --state-success-inactive: #87eac4;
  --state-warning-link-color: #742e14;
  --state-warning-button-background: #742e14;
  --state-warning-border: #742e14;
  --state-warning-button-color: #fff;
  --state-warning-hover: #963b1a;
  --state-warning-focus: #963b1a;
  --state-warning-inactive: #fb9975;
  --state-error-link-color: #a02522;
  --state-error-button-background: #a02522;
  --state-error-border: #a02522;
  --state-error-button-color: #fff;
  --state-error-hover: #b1342f;
  --state-error-focus: #b1342f;
  --state-error-inactive: #f58378;
  --shell-background: #fff;
  --shell-border: #ceceda;
  --shell-hover: #ececf2;
  --shell-on-background: #ececf2;
  --shell-on-border: #b1b1bd;
  --shell-on-hover: #ceceda;
}
